In [2]:
import pandas as pd
df = pd.read_csv("./wfp_food_prices_ind.csv")
df

C:\Users\nsaty\AppData\Local\Temp\ipykernel_29120\696022835.py:2: DtypeWarning: Columns (4,5,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./wfp_food_prices_ind.csv")

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,#date,#adm1+name,#adm2+name,#loc+market+name,#geo+lat,#geo+lon,#item+type,#item+name,#item+unit,#item+price+flag,#item+price+type,#currency,#value,#value+usd
1,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Rice,KG,actual,Retail,INR,8.0,0.255
2,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,miscellaneous food,Sugar,KG,actual,Retail,INR,13.5,0.4303
3,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,cereals and tubers,Rice,KG,actual,Retail,INR,6.8,0.2167
4,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,miscellaneous food,Sugar,KG,actual,Retail,INR,13.5,0.4303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183003,2024-01-15,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,oil and fats,Oil (sunflower),KG,forecast,Retail,INR,0.0,0.0
183004,2024-01-15,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,pulses and nuts,Lentils,KG,forecast,Retail,INR,0.0,0.0
183005,2024-01-15,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,pulses and nuts,Lentils (masur),KG,forecast,Retail,INR,0.0,0.0
183006,2024-01-15,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,pulses and nuts,Lentils (moong),KG,forecast,Retail,INR,0.0,0.0
183007,2024-01-15,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,pulses and nuts,Lentils (urad),KG,forecast,Retail,INR,0.0,0.0

In [3]:
df=df[1:][:]
df

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
1,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Rice,KG,actual,Retail,INR,8.0,0.255
2,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,miscellaneous food,Sugar,KG,actual,Retail,INR,13.5,0.4303
3,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,cereals and tubers,Rice,KG,actual,Retail,INR,6.8,0.2167
4,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,miscellaneous food,Sugar,KG,actual,Retail,INR,13.5,0.4303
5,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,oil and fats,Oil (mustard),KG,actual,Retail,INR,30.0,0.9562
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183003,2024-01-15,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,oil and fats,Oil (sunflower),KG,forecast,Retail,INR,0.0,0.0
183004,2024-01-15,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,pulses and nuts,Lentils,KG,forecast,Retail,INR,0.0,0.0
183005,2024-01-15,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,pulses and nuts,Lentils (masur),KG,forecast,Retail,INR,0.0,0.0
183006,2024-01-15,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,pulses and nuts,Lentils (moong),KG,forecast,Retail,INR,0.0,0.0
183007,2024-01-15,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,pulses and nuts,Lentils (urad),KG,forecast,Retail,INR,0.0,0.0

In [4]:
df = df.dropna()
df.reset_index(drop = True, inplace = True)
df.shape

(182433, 14)

In [5]:
df=df.drop(labels = 'usdprice',axis=1)
df=df.drop(labels = 'currency',axis=1)
df=df.drop(labels = 'pricetype',axis=1)
df

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,price
0,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Rice,KG,actual,8.0
1,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,miscellaneous food,Sugar,KG,actual,13.5
2,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,cereals and tubers,Rice,KG,actual,6.8
3,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,miscellaneous food,Sugar,KG,actual,13.5
4,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,oil and fats,Oil (mustard),KG,actual,30.0
...,...,...,...,...,...,...,...,...,...,...,...
182428,2024-01-15,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,oil and fats,Oil (sunflower),KG,forecast,0.0
182429,2024-01-15,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,pulses and nuts,Lentils,KG,forecast,0.0
182430,2024-01-15,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,pulses and nuts,Lentils (masur),KG,forecast,0.0
182431,2024-01-15,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,pulses and nuts,Lentils (moong),KG,forecast,0.0
182432,2024-01-15,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,pulses and nuts,Lentils (urad),KG,forecast,0.0

In [6]:
df=df.rename({"admin1":"province","admin2":"district"},axis = 1)
df

,date,province,district,market,latitude,longitude,category,commodity,unit,priceflag,price
0,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Rice,KG,actual,8.0
1,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,miscellaneous food,Sugar,KG,actual,13.5
2,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,cereals and tubers,Rice,KG,actual,6.8
3,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,miscellaneous food,Sugar,KG,actual,13.5
4,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,oil and fats,Oil (mustard),KG,actual,30.0
...,...,...,...,...,...,...,...,...,...,...,...
182428,2024-01-15,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,oil and fats,Oil (sunflower),KG,forecast,0.0
182429,2024-01-15,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,pulses and nuts,Lentils,KG,forecast,0.0
182430,2024-01-15,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,pulses and nuts,Lentils (masur),KG,forecast,0.0
182431,2024-01-15,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,pulses and nuts,Lentils (moong),KG,forecast,0.0
182432,2024-01-15,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,pulses and nuts,Lentils (urad),KG,forecast,0.0

In [7]:
import numpy as np

size=len(df['date'])
year_arr=np.zeros((size,1))
month_arr=np.zeros((size,1))
i=0
for date in df['date']:
    darr=date.split('-')
    year_arr[i] = darr[0]
    month_arr[i] = darr[1]
    i +=1

df['year']=year_arr.astype(int)
df['month']=month_arr.astype(int)
df=df.drop(labels='date',axis=1)

df

,province,district,market,latitude,longitude,category,commodity,unit,priceflag,price,year,month
0,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Rice,KG,actual,8.0,1994,1
1,Delhi,Delhi,Delhi,28.666667,77.216667,miscellaneous food,Sugar,KG,actual,13.5,1994,1
2,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,cereals and tubers,Rice,KG,actual,6.8,1994,1
3,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,miscellaneous food,Sugar,KG,actual,13.5,1994,1
4,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,oil and fats,Oil (mustard),KG,actual,30.0,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...
182428,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,oil and fats,Oil (sunflower),KG,forecast,0.0,2024,1
182429,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,pulses and nuts,Lentils,KG,forecast,0.0,2024,1
182430,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,pulses and nuts,Lentils (masur),KG,forecast,0.0,2024,1
182431,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,pulses and nuts,Lentils (moong),KG,forecast,0.0,2024,1
182432,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,pulses and nuts,Lentils (urad),KG,forecast,0.0,2024,1

In [8]:
df['category'].unique()

array(['cereals and tubers', 'miscellaneous food', 'oil and fats',
       'pulses and nuts', 'vegetables and fruits', 'milk and dairy'],
      dtype=object)

In [9]:
dict_category ={'cereals and tubers':1, 'miscellaneous food':2, 'oil and fats':3,
       'pulses and nuts':4, 'vegetables and fruits':5, 'milk and dairy':6}

In [17]:
size=len(df['category'])
catg=df['category'].unique()

catgarr=list(dict_category.keys())
carr=dict_category
for i in range (len(catg)):
  a=np.zeros((size,1))
  exec('catgarr[i] = a')


for j in range (size):
  cval=df['category'][j]
  ind=carr.get(cval)
  catgarr[ind-1][j]=1

r=0
for c in catg:
  df[c]=catgarr[r].astype(int)
  r+=1

df=df.drop(labels='category',axis=1) 
df

,province,district,market,latitude,longitude,commodity,unit,priceflag,price,year,month,cereals and tubers,miscellaneous food,oil and fats,pulses and nuts,vegetables and fruits,milk and dairy
0,Delhi,Delhi,Delhi,28.666667,77.216667,Rice,KG,actual,8.0,1994,1,1,0,0,0,0,0
1,Delhi,Delhi,Delhi,28.666667,77.216667,Sugar,KG,actual,13.5,1994,1,0,1,0,0,0,0
2,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,Rice,KG,actual,6.8,1994,1,1,0,0,0,0,0
3,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,Sugar,KG,actual,13.5,1994,1,0,1,0,0,0,0
4,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,Oil (mustard),KG,actual,30.0,1994,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182428,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,Oil (sunflower),KG,forecast,0.0,2024,1,0,0,1,0,0,0
182429,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,Lentils,KG,forecast,0.0,2024,1,0,0,0,1,0,0
182430,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,Lentils (masur),KG,forecast,0.0,2024,1,0,0,0,1,0,0
182431,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,Lentils (moong),KG,forecast,0.0,2024,1,0,0,0,1,0,0
182432,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,Lentils (urad),KG,forecast,0.0,2024,1,0,0,0,1,0,0

In [18]:
df['unit'].unique()

array(['KG', '100 KG', 'L'], dtype=object)

In [19]:
dict_unit ={'KG':1, '100 KG':2, 'L':3}

In [20]:
size=len(df['unit'])
unitg=df['unit'].unique()

unitgarr=list(dict_unit.keys())
uarr=dict_unit
for i in range (len(unitg)):
  a=np.zeros((size,1))
  exec('unitgarr[i] = a')


for j in range (size):
  uval=df['unit'][j]
  ind=uarr.get(uval)
  unitgarr[ind-1][j]=1

r=0
for c in unitg:
  df[c]=unitgarr[r].astype(int)
  r+=1

df=df.drop(labels='unit',axis=1) 
df

,province,district,market,latitude,longitude,commodity,priceflag,price,year,month,cereals and tubers,miscellaneous food,oil and fats,pulses and nuts,vegetables and fruits,milk and dairy,KG,100 KG,L
0,Delhi,Delhi,Delhi,28.666667,77.216667,Rice,actual,8.0,1994,1,1,0,0,0,0,0,1,0,0
1,Delhi,Delhi,Delhi,28.666667,77.216667,Sugar,actual,13.5,1994,1,0,1,0,0,0,0,1,0,0
2,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,Rice,actual,6.8,1994,1,1,0,0,0,0,0,1,0,0
3,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,Sugar,actual,13.5,1994,1,0,1,0,0,0,0,1,0,0
4,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,Oil (mustard),actual,30.0,1994,1,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182428,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,Oil (sunflower),forecast,0.0,2024,1,0,0,1,0,0,0,1,0,0
182429,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,Lentils,forecast,0.0,2024,1,0,0,0,1,0,0,1,0,0
182430,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,Lentils (masur),forecast,0.0,2024,1,0,0,0,1,0,0,1,0,0
182431,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,Lentils (moong),forecast,0.0,2024,1,0,0,0,1,0,0,1,0,0
182432,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,Lentils (urad),forecast,0.0,2024,1,0,0,0,1,0,0,1,0,0

In [21]:
df['priceflag'].unique()

array(['actual', 'forecast'], dtype=object)

In [28]:
dict_price={'actual':1,'forecast':2}

In [30]:
size=len(df['priceflag'])
unitg=df['priceflag'].unique()

unitgarr=list(dict_price.keys())
uarr=dict_price
for i in range (len(unitg)):
  a=np.zeros((size,1))
  exec('unitgarr[i] = a')


for j in range (size):
  uval=df['priceflag'][j]
  ind=uarr.get(uval)
  unitgarr[ind-1][j]=1

r=0
for c in unitg:
  df[c]=unitgarr[r].astype(int)
  r+=1

df=df.drop(labels='priceflag',axis=1) 
df

,province,district,market,latitude,longitude,commodity,price,year,month,cereals and tubers,miscellaneous food,oil and fats,pulses and nuts,vegetables and fruits,milk and dairy,KG,100 KG,L,actual,forecast
0,Delhi,Delhi,Delhi,28.666667,77.216667,Rice,8.0,1994,1,1,0,0,0,0,0,1,0,0,1,0
1,Delhi,Delhi,Delhi,28.666667,77.216667,Sugar,13.5,1994,1,0,1,0,0,0,0,1,0,0,1,0
2,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,Rice,6.8,1994,1,1,0,0,0,0,0,1,0,0,1,0
3,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,Sugar,13.5,1994,1,0,1,0,0,0,0,1,0,0,1,0
4,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,Oil (mustard),30.0,1994,1,0,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182428,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,Oil (sunflower),0.0,2024,1,0,0,1,0,0,0,1,0,0,0,1
182429,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,Lentils,0.0,2024,1,0,0,0,1,0,0,1,0,0,0,1
182430,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,Lentils (masur),0.0,2024,1,0,0,0,1,0,0,1,0,0,0,1
182431,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,Lentils (moong),0.0,2024,1,0,0,0,1,0,0,1,0,0,0,1
182432,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,Lentils (urad),0.0,2024,1,0,0,0,1,0,0,1,0,0,0,1

In [31]:
df['commodity'].unique()

array(['Rice', 'Sugar', 'Oil (mustard)', 'Wheat', 'Potatoes', 'Chickpeas',
       'Onions', 'Milk', 'Wheat flour', 'Milk (pasteurized)',
       'Oil (groundnut)', 'Oil (sunflower)', 'Lentils (masur)',
       'Oil (palm)', 'Tomatoes', 'Salt (iodised)', 'Tea (black)',
       'Lentils', 'Sugar (jaggery/gur)', 'Ghee (vanaspati)',
       'Lentils (urad)', 'Lentils (moong)', 'Oil (soybean)'], dtype=object)

In [35]:
unique_commodity = df['commodity'].unique()
dict_commodity ={}
for i in range (len(unique_commodity)):
    dict_commodity[unique_commodity[i]]= i+1

In [36]:
size=len(df['commodity'])
unitg=df['commodity'].unique()

unitgarr=list(dict_commodity.keys())
uarr=dict_commodity
for i in range (len(unitg)):
  a=np.zeros((size,1))
  exec('unitgarr[i] = a')


for j in range (size):
  uval=df['commodity'][j]
  ind=uarr.get(uval)
  unitgarr[ind-1][j]=1

r=0
for c in unitg:
  df[c]=unitgarr[r].astype(int)
  r+=1

df=df.drop(labels='commodity',axis=1) 
df

,province,district,market,latitude,longitude,price,year,month,cereals and tubers,miscellaneous food,...,Oil (palm),Tomatoes,Salt (iodised),Tea (black),Lentils,Sugar (jaggery/gur),Ghee (vanaspati),Lentils (urad),Lentils (moong),Oil (soybean)
0,Delhi,Delhi,Delhi,28.666667,77.216667,8.0,1994,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Delhi,Delhi,Delhi,28.666667,77.216667,13.5,1994,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,6.8,1994,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,13.5,1994,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,30.0,1994,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182428,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,0.0,2024,1,0,0,...,0,0,0,0,0,0,0,0,0,0
182429,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,0.0,2024,1,0,0,...,0,0,0,0,1,0,0,0,0,0
182430,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,0.0,2024,1,0,0,...,0,0,0,0,0,0,0,0,0,0
182431,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,0.0,2024,1,0,0,...,0,0,0,0,0,0,0,0,1,0
182432,West Bengal,West Midnapore,Kharagpur,22.33933,87.22672,0.0,2024,1,0,0,...,0,0,0,0,0,0,0,1,0,0